@import "../../variables.scss";

.navigationCard {
  position: relative;
  display: block;
  padding: 1rem;
  width: calc(100% - 2.5rem);
  border-radius: 0.5rem;
  color: var(--textDown);
  text-decoration: none;
  overflow: hidden;
  background: linear-gradient(90deg, transparent, var(--primaryTransparent));
  margin-bottom: 1.5rem;
  border: 1px solid var(--backgroundDown);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 1px 1px 2px var(--downTransparent07),
    3px 4px 5px var(--downTransparent10);

  &__title {
    margin: 0;
    font-weight: 900;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid var(--up);
    font-size: 1rem;
  }

  &__info {
    margin: 0;
    font-weight: 300;
  }

  &:hover {
    box-shadow: 2px 3px 3px var(--downTransparent10),
      4px 4px 6px var(--downTransparent15);
  }
}
