@import "../variables.scss";

.page {
  flex-grow: 1;
  display: flex;
  height: 1px;
  flex-direction: column;
  align-items: flex-start;
}

.nonshrinkContent {
  margin: 0 1rem;
  &:last-child {
    margin-bottom: 1rem;
  }
}

.shrinkContent {
  overflow: auto;
  margin: 3px 0.5rem;
  padding: 0 0.5rem;
  width: calc(100% - 1rem);
  box-sizing: border-box;
  min-height: 100px;
  &:last-child {
    margin-bottom: 0;
  }
  @include niceScrolls;
}

.title {
  color: var(--textDown);
  font-family: "PlayfairDisplay";
  font-size: 3rem;
  font-weight: 400;
  padding-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  font-family: inherit;

  &__label {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--textDown);
    padding-bottom: 1rem;
  }

  &__input {
    font-family: inherit;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: 0px 0px 0px 0.5px var(--textDown);
    border: none;
    outline: none;
    font-weight: 400;
    transition: box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: var(--backgroundUp);
    color: var(--textDown);

    &--code {
      font-family: "XantiTypewriter";
      font-size: 0.75rem;
      width: 100%;
      min-height: 300px;
      box-sizing: border-box;
      @include niceScrolls;
    }

    &:focus {
      box-shadow: 0px 0px 0.5px 2px var(--primary);
    }
  }

  &__submit {
    padding: 0.75rem;
    font-size: 1.25rem;
    font-weight: 400;
    border: none;
    color: var(--up);
    border-radius: 0.75rem;
    background: var(--primary);
    cursor: pointer;
    font-family: inherit;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--textDown);
  padding-bottom: 1.5rem;
  max-width: 40ch;
}

.readonlyCode {
  font-family: "XantiTypewriter";
  white-space: break-spaces;
  font-size: 1rem;
  display: block;
  @include niceScrolls;
  color: var(--up);
  background: var(--textDown);
  padding: 1rem;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
}

.button {
  padding: 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary);
  border-radius: 3rem;
  border: 1px solid var(--primary);
  background: var(--up);
  cursor: pointer;
  font-family: inherit;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: var(--up);
    background-color: var(--primary);
  }
}

.dataTable {
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: inset 1px 1px 2px var(--downTransparent07),
    inset 3px 4px 5px var(--downTransparent10);

  &__item {
    margin: 0;
    padding: 1rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--textDown);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid var(--backgroundUp);
  }
}
