@font-face {
  src: url(./source-sans-pro-300.woff);
  font-family: "SourceSansPro";
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  src: url(./source-sans-pro-400.woff);
  font-family: "SourceSansPro";
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  src: url(./source-sans-pro-600.woff);
  font-family: "SourceSansPro";
  font-weight: 600;
  font-display: fallback;
}
@font-face {
  src: url(./playfair-display.woff);
  font-family: "PlayfairDisplay";
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  src: url(./xanti-typewriter.woff);
  font-family: "XantiTypewriter";
  font-weight: 700;
  font-display: fallback;
}
