@import "./variables.scss";

.newTabButton {
  max-width: 4rem;
  min-width: 4rem;
  min-height: 4rem;
  max-height: 4rem;
  height: 4rem;
  border-radius: 2rem;
  cursor: pointer;
  margin: 0 calc(200px - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--up);
  border: none;
  color: var(--primary);
  font-size: 2.5rem;
  transition: 300ms transform cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    transform: scale(1.2);
  }
}

.appTab {
  background-color: var(--up);
  margin: 0 0.75rem;
  min-width: 400px;
  border-radius: 1rem;
  flex-shrink: 0;
  height: 100%;
  resize: horizontal;
  @include niceScrolls;
  @include shadows;

  &--dragOver {
    opacity: 0 !important;
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__control {
    color: var(--primary);
    outline: 0;
    cursor: pointer;
    border: none;
    background: var(--up);
    font-weight: 700;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: flex;
    &:hover {
      background-color: var(--primary);
      color: var(--up);
    }
  }
}
