@import "./variables.scss";

html {
  min-height: 100%;
}

body {
  font-family: "SourceSansPro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  margin: 0;
  font-size: 1rem;
  min-height: 100%;
}

.themeTransition {
  * {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 300ms !important;
  }
}

.no-focus-outline {
  *:focus {
    outline: none;
  }
}

.container {
  height: calc(100% - 1.5rem);
  display: flex;
  flex-direction: row;
  padding: 0.75rem 0;
  background: var(--backgroundDown);
  @include niceScrolls;
  align-items: center;
  color: var(--textDown);
}
::selection {
  background-color: var(--secondary);
  color: var(--up);
}
