.theme {
  &__defaultLight {
    --backgroundUp: rgb(245, 245, 245);
    --backgroundDown: rgb(220, 220, 220);
    --up: #fff;
    --down: #000;
    --downTransparent05: rgba(0, 0, 0, 0.05);
    --downTransparent07: rgba(0, 0, 0, 0.07);
    --downTransparent10: rgba(0, 0, 0, 0.1);
    --downTransparent15: rgba(0, 0, 0, 0.15);
    --downTransparent20: rgba(0, 0, 0, 0.2);
    --textDown: rgba(0, 0, 0, 0.87);
    --textDownTransparent: rgba(0, 0, 0, 0.5);
    --primary: #1976d2;
    --secondary: #9c27b0;
    --warning: #ed6c02;
    --success: #2e7d32;
    --primaryTransparent: #1976d21a;
    --errorBackground: #ffcece;
  }
  &__defaultDark {
    --backgroundUp: #121212;
    --backgroundDown: #242424;
    --up: rgb(51, 51, 51);
    --down: rgb(233, 233, 233);
    --downTransparent05: rgba(0, 0, 0, 0.05);
    --downTransparent07: rgba(0, 0, 0, 0.07);
    --downTransparent10: rgba(0, 0, 0, 0.1);
    --downTransparent15: rgba(0, 0, 0, 0.15);
    --downTransparent20: rgba(0, 0, 0, 0.2);
    --textDown: #fff;
    --textDownTransparent: #ffffffbe;
    --primary: #90caf9;
    --secondary: #ce93d8;
    --warning: #ffa726;
    --success: #66bb6a;
    --primaryTransparent: #90caf91a;
    --errorBackground: #6e2f2f;
  }
  &__innovation {
    --down: #f1f6f8;
    --textDown: #f1f6f8;
    --backgroundDown: #020a12;
    --up: #061b32;
    --backgroundUp: #061b32;
    --primary: #58d5f8;
    --primaryTransparent: #58d5f813;
  }
  &__monochrome {
    * {
      border-radius: 0 !important;
    }
    --backgroundUp: #ddd;
    --backgroundDown: #ddd;
    --up: #fff;
    --down: #000;
    --downTransparent05: rgba(0, 0, 0, 0);
    --downTransparent07: rgba(0, 0, 0, 0);
    --downTransparent10: rgba(0, 0, 0, 0);
    --downTransparent15: rgba(0, 0, 0, 0);
    --downTransparent20: rgba(66, 66, 66, 0);
    --textDown: #000;
    --textDown: #000000bc;
    --primary: #000;
    --primaryTransparent: #00000011;
    --errorBackground: #ccc;
  }
}

@mixin shadows {
  box-shadow: 2.9px 2.7px 2.8px var(--downTransparent05),
    7.2px 6.8px 11.3px var(--downTransparent07),
    13.2px 12.4px 29.1px var(--downTransparent10),
    17px 16px 80px var(--downTransparent15);
}

@mixin smoothInsetShadows {
  border: 1px solid var(--backgroundDown);
  box-shadow: inset 1px 1px 2.8px var(--downTransparent05),
    inset 2px 2px 11.3px var(--downTransparent07);
}

@mixin niceScrolls {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 11px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--backgroundUp);
    border-radius: 4rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--textDown);
    border-radius: 4rem;
  }
}
